[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sjasminekaur
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sjasminekaur
	label-Verified = -1..+1 group user/sjasminekaur
	push = group user/sjasminekaur
	read = group user/sjasminekaur
	rebase = group user/sjasminekaur
	removeReviewer = group user/sjasminekaur
	submit = group user/sjasminekaur
[access "refs/heads/*"]
	create = group user/sjasminekaur
	push = +force group user/sjasminekaur
	pushMerge = group user/sjasminekaur
	read = group user/sjasminekaur
[access "refs/tags/*"]
	push = group user/sjasminekaur
	push = +force group user/sjasminekaur
